/* theme color */
@import './red-theme.scss';
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

//自定义slider按钮样式
.el-slider__button-wrapper {
  $size: 14px;
  height: $size;
  width: $size;
  top: -4px;

  .el-slider.is-vertical & {
    left: -4px;
  }

  .el-slider__button {
    $size: 10px;
    height: $size;
    width: $size;
    vertical-align: top;
    &:hover,
    &.hover {
      cursor: pointer;
    }
  }
  &:hover,
  &.hover {
    cursor: pointer;
  }
}
